<?xml version="1.0" encoding="UTF-8"?>
<root>
	<item>
		<text><![CDATA[
			<table border=0 cellpadding=5>
			<% @processes.each do |process, v| -%>
				<tr><td><%= process %></td><td><%= v %></td></tr>
			<% end -%>
			</table>
		]]></text>
		<type>0</type>
	</item>
</root>